thead{
    background-color:#2B519C;
    color:white;
    column-span:"3px"}
   td {
        border: 1px solid  #2B519C;
        height:70px;
        width:50px;
      }
      th{

        height:35px;
    }
     table{
        margin-left: auto;
        margin-right: auto;
        margin-top:40px;
        width: 80%;
        border-radius:10%;
        text-align:center;
        border-collapse:collapse; 
        
      }
input{
    width:100%;
    height:30px
}
      
.input{
    margin:20px;
}
.expiration{
    display: flex;
}
.validate{
    background-color:#F0E114;
}
