.store .container {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  width: 100%;
}
.right {
  display: flex;
  justify-content: end;
}
