.header{
    height: 6vh;
    background-color:#F0E114;
    display :flex;
    justify-content:center;
    align-items:center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}